VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
FWD_OAUTH_CLIENT_ID=7a8b2b60-9597-45cb-99fd-66abd03abcb2
FWD_OAUTH_CLIENT_SECRET=
FWD_ALLOWED_REDIRECT_URI=https://fwd.treytv.com/auth/trey-tv/callback
FWD_LOCAL_REDIRECT_URI=http://localhost:5173/auth/trey-tv/callback
FWD_OAUTH_SECRET_PEPPER=
TREY_TV_PUBLIC_ORIGIN=https://tv.treytrizzy.com
VITE_FWD_PICKER_BASE_URL=https://fwd.treytv.com
VITE_FWD_PICKER_PUBLIC_KEY=
VITE_FWD_PICKER_ALLOWED_ORIGINS=https://fwd.treytv.com,http://localhost:5173
